button.gameCell {
	display: inline-block;
	width: 50px;
  	padding: 8px;
  	border: 3px solid #FCB326;
  	border-radius: 6px;
  	box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
    background-color: white;
    
  	/* Font styles */
  	text-decoration: none;
  	font-size: 14px;
  	text-transform: uppercase;
  	color: #222;
}
button.gameCell:hover  { border-color: #FDD68B; }
button.gameCell:active { border-color: #FEE8BD; }

button.gameCellX {
	display: inline-block;
	width: 50px;
  	padding: 8px;
  	border: 3px solid #00FF00;
  	border-radius: 6px;
  	box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
    background-color: #008800;
    
  	/* Font styles */
  	text-decoration: none;
  	font-size: 14px;
  	text-transform: uppercase;
  	color: #00FF00;
}
button.gameCellX:hover  { border-color: #00FF22; }
button.gameCellX:active { border-color: #00FF00; }

button.gameCellXWin {
	display: inline-block;
	width: 50px;
  	padding: 8px;
  	border: 3px solid #00FF55;
  	border-radius: 6px;
  	box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
    background-color: yellow;
    
  	/* Font styles */
  	text-decoration: none;
  	font-size: 14px;
  	text-transform: uppercase;
  	color: #222;
}
button.gameCellXWin:hover  { border-color: #00FF22; }
button.gameCellXWin:active { 
	border-color: #00FF00;
	/* background */
    color: #FCB326;
}

button.gameCellO {
	display: inline-block;
	width: 50px;
  	padding: 8px;
  	border: 3px solid #FF0000;
  	border-radius: 6px;
  	box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
    background-color: #880000;
    
  	/* Font styles */
  	text-decoration: none;
  	font-size: 14px;
  	text-transform: uppercase;
  	color: #FF0000;
}
button.gameCellO:hover  { border-color: #FF0022; }
button.gameCellO:active { border-color: #FF0000; }

button.gameCellOWin {
	display: inline-block;
	width: 50px;
  	padding: 8px;
  	border: 3px solid #FF0055;
  	border-radius: 6px;
  	box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
    
    /* background */
    background-color: yellow;
    
  	/* Font styles */
  	text-decoration: none;
  	font-size: 14px;
  	text-transform: uppercase;
  	color: #222;
}
button.gameCellOWin:hover  { border-color: #FF0022; }
button.gameCellOWin:active { 
	border-color: #FF0000;
	/* background */
    color: #FCB326;

}