input#toggle-1 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-2 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-3 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-4 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-5 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-6 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-7 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-8 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}
input#toggle-9 {
    position:absolute;
    left:-9999999px;
    opacity:0;
}

span {
    background:#FF0000;
    padding:5px;
    border-radius:3px;
    display:inline-block;
    cursor:pointer;
}
span:hover {
    background:#FFAAAA;
}
input:checked + label span {
    background:#00FF00;
}
input:checked + label span:hover {
    background:#AAFFAA;
}